
<h1>Kookopa</h1>
		<p>
			You've found the home page for the
			<%= link_to "Kookopa","http://kookopa.com" %>
		</p>

	<div class="container">
    <%= link_to "Clothing", clothing_path %>
		<%= link_to "Bags", bags_path %>
		<%= link_to "Shoes", shoes_path %>
		<%= link_to "Acessories", accessories_path %>
		<%= link_to "Designers", designers_path %>
  </div>

  <div>
		<p>
			<%= link_to "Sign up!", "#" %>
		<p>
	</div>		
		
	

